// to style the multi select component of prime vue
.p-multiselect{
  background: transparent;
  outline: none;
  box-shadow: none;
}
.p-multiselect-trigger{
  justify-content: flex-end;
}
.p-multiselect-option{
  // flex-direction: row-reverse;/
  gap: 5px !important;
}
.p-multiselect-items-wrapper{
  padding: 5px;
  .p-multiselect-item{
    flex-direction: row-reverse;
    direction: inherit !important;
    gap: 6px;
    &:not(:last-of-type){
      margin-bottom: 8px;
    }
  }
}
.p-multiselect-list-container{
  background: #fff;
  box-shadow: 0 0 10px #e4e4e4;
  padding: 5px 8px;
  direction: inherit !important;
  .p-checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid #e4e4e4;
    margin-inline-end: 5px;
  }
}
.p-multiselect-label,
.p-multiselect-header{
  display: none !important;
}

.multiSelect_placeholder{
  inset-inline-start: 0;
}

